@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-popins: "Poppins", sans-serif;
  --background: #171717;
  --foreground: #ffffff;
}

.dm-sans {
  font-family: var(--font-dm-sans);
  font-weight: var(--font-weight);
}
.poppins {
  font-family: var(--font-popins);
  font-weight: var(--font-weight);
}
/* site colors */
.darkColor {
  color: #23262f;
}
.blueColor {
  color: #284faf;
}
.greenColor {
  color: #0b7f58;
}
.whiteColor {
  color: #f8fafc;
}
.mediumGray{
  color:#D9D9D9;
}
.lightGray{
  color:#E8E8E8;
}
