@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  background-color: #f8fafc;
  padding:0;
  margin:0;
}
:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-popins: "Poppins", sans-serif;
}

.dm-sans {
  font-family: var(--font-dm-sans);
  font-weight: var(--font-weight);
}
.poppins {
  font-family: var(--font-popins);
  font-weight: var(--font-weight);
}

/* site colors */
.darkColor {
  color: #23262f;
}
.darkColorBg {
  background-color: #23262f;
}
.blueColor {
  color: #284faf;
}
.blueColorBg {
  background-color: #284faf;
}
.greenColor {
  color: #0b7f58;
  background-color: #0b7f58;
}
.whiteColor {
  color: #f8fafc;
}
.whiteColorBg {
  background-color: #f8fafc;
}
.mediumGray {
  color: #d9d9d9;
}
.mediumGrayBg {
  background-color: #d9d9d9;
}
.lightGray {
  color: #e8e8e8;
}
.lightGrayBg {
  background-color: #e8e8e8;
} 
/*border radius for hero mobile image*/
.borderRadius {
  border-radius: 0 0 70px 70px;
}